@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'The Centurion';
  src: url('./assets/fonts/The Centurion.ttf') format('truetype');
}

body {
  background-color: rgb(8, 8, 8) !important;
}
